@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #36787c;
}

.start {
  font-size: 2.2rem;
  text-transform: uppercase;
}

h1 {
  line-height: 1.4;
  font-size: 5rem;
  text-transform: uppercase;
  color: #475462;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #73b0f7 0%, #22f16a 100%);
}

.screen h3{
  color: #475462;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #475462;
  color: #475462;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #fff;
  color: #2A333D;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg,  #73b0f7 0%, #22f16a 100%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.score{
  font-size: 6.5rem;;
}